.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .logo {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-white);
    font-weight: 600;
    animation: slideTop 1s ease forwards;
    width: 2.5rem;
    height: auto;
    
  }
  
  .navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .navbar a {
    font-size: 1.2rem;
    color: var(--color-white);
    font-weight: 700;
    margin-left: 3rem;
    transition: 0.3s;
    animation: slideTop 0.5s ease forwards;
    opacity: 0;
    animation-delay: 0.7s;
  }
  
  .navbar a:hover {
    background: linear-gradient(30deg, #f06, #3cf);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  
  .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-white);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
  }
  
  .cv {
    padding: 10px 30px;
    background: #fff;
    transition: 0.5s;
    position: relative;
    color: var(--color-white);
    border-radius: 0.2rem;
    margin-left: 2rem;
    cursor: pointer;
    animation: slideTop 0.5s ease forwards;
    opacity: 0;
    animation-delay: 0.7s;
    font-weight: 600;
    font-size: 1rem;
  }

  .cv a {
    all: unset;
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .cv:hover {
    background: var(--color-main);
    color: var(--color-main);
    box-shadow: 0 0 35px var(--color-main);
  }
  
  .cv:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #0F0F10;
    border-radius: 0.2rem;
  }
  
  .cv span {
    position: relative;
    z-index: 1;
  }
  
  .cv i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  .cv i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #0F0F10;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }
  
  .cv:hover i::before {
    width: 20px;
    left: 20%;
  }
  
  .cv i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #0F0F10;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }
  
  .cv:hover i::after {
    width: 20px;
    left: 80%;
  }

  .logo-open {
    position: absolute;
    top: 50%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
    transition: 1s;
    width: 4rem;
    height: auto;
    background-color: var(--color-main);
    padding: 0.5rem;
    border-radius: 1rem;
  }
  
  @media only screen and (max-width: 1024px) {
    .nav-btn {
      visibility: visible;
      opacity: 1;
    }
  
    .navbar {
      margin-left: 0;
    }
  
    nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 60%;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #171717;
      justify-content: center;
      gap: 1.5rem;
      background-color: #171717;
      transition: 1s;
      transform: translateY(-100vh);
    }
  
    .responsive_nav {
      transform: none;
    }
  
    .nav-close-btn {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  
    .navbar a {
      font-size: 1.5rem;
      text-align: center;
    }

    .cv {
        margin-left: 3rem;
    }

      .responsive_nav .logo-open {
        display: block;
      }
  }